
:root {
    --main-dark-cl: #434455;
    --main-white-bgd:#FFFFFF;
    --bright-blue-cl: #4D5AE5; 
    --dark-title-cl: #2E2F42;
    --dark-blue-bgd: #404bbf;
    --simple-white-cl: #F4F4FD; #4d5ae5
  
}

/* Common styles */

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-dark-cl);
    background-color: var(--main-white-bgd);


    font-size: 16px;
    line-height: 1.5;

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}


/* Header styles */

.header {
    font-style: normal;
}

.header-nav {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-blue-cl);
    text-decoration: none;
}



.header-logo-span {
    color: var(--dark-title-cl);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
}

.header-link:hover,
.header-link:focus {
    color: var(--dark-blue-bgd);
} 

.address {
    font-style: normal;
}

.header-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--dark-blue-bgd);
}


/* Hero styles */

.section {}

.hero {
    background-color: var(--dark-title-cl);;
    
    
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-white-bgd);
    
}

.hero-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--bright-blue-cl);
    color: var(--main-white-bgd);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--dark-blue-bgd);
}


/* Benefits styles */

.section {}

.benefits {
    font-style: normal;
    letter-spacing: 0.02em;
}

.benefits-list {
    list-style: none;
    text-decoration: none;
}

.benefits-item {}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Tech section */

.section {}

.tech {}

.tech-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
}

.tech-list {
    list-style: none;
}

.tech-item {}

.tech-img {}

/* Team section */

.section {}

.team {
    background-color: var(--simple-white-cl);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
}

.team-list {
   
}

.team-item {
    background-color: var(--main-white-bgd)
}

.team-img {
    
}

.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
}

.team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* Footer section */

.footer {
    background: var(--dark-title-cl);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-blue-cl);
    text-decoration: none;

}

.footer-logo-span {
    color: var(--simple-white-cl);
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--simple-white-cl);
}
/* App search */

.app {}

.search {}

.searcch-list {
    list-style: none;
}

.search-item {}

.search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bright-blue-cl);
    background-color: var(--simple-white-cl);
    cursor: pointer;
}
.search-btn:hover,
.search-btn:focus {
    color: var(--main-white-bgd);
    background-color: var(--dark-blue-bgd);
}


.app-list {
    list-style: none;
}

.app-item {}

.app-img {}

.app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
}

.app-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

